{% load static %}{% load url_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>STRONGR</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/breadcrumbs.css' %}" rel="stylesheet" />

    <style>
        form {
            width: 400px;
            margin: 0 auto;
            padding: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input[type="time"], input[type="date"], form select {
            width: calc(100% - 12px);
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .card {
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .profile-card{
            padding:80px;
        }
    </style>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" aria-label="Main Navigation">
        <a class="navbar-brand ps-3" href="{% url 'organization_page' %}">STRONGR.</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" aria-controls="sidenavAccordion" aria-expanded="false"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>{{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" aria-label="Sidebar Navigation">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Organization</div>
                        <a class="nav-link" href="{% url 'organization_page' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="{% url 'organization_profile' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>
                            Profile
                        </a>
                        <a class="nav-link" href="{% url 'organization_locationlist'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                            Locations
                        </a>
                        <a class="nav-link" href="{% url 'preview' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                            Preview
                        </a>
                        <a class="nav-link" href="{% url 'status' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-check-circle"></i></i></div>
                            Status
                        </a>
                        <a class="nav-link" href="{% url 'org_customers_list'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Customers
                        </a>  
                        <div class="sb-sidenav-menu-heading">Slot</div>
                        <a class="nav-link" href="{% url 'slot-location' %}">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-clock"></i></div>
                            Slots List
                          </a>
                        <a class="nav-link" href="{% url 'temp-slot-location'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                            Additional Slots
                        </a>
                        <a class="nav-link" href="{% url 'temp-deslot-location'%}" style="color: white; background-color: rgb(68, 68, 68);">
                            <div class="sb-nav-link-icon"><i class="fas fa-minus"></i></div>
                            Unavailable Slots
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    <div class="user-email">{{ request.user.email }}</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{% url 'organization_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'temp-deslot-location' %}">Unavailable Slots</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'unavailable-slot-list' pk=pk %}">Unavailable-Slot-List</a></li>
                    <li class="breadcrumb-item">Add-Unavailable-Slot</li>
                </ol>
                <div class="container-fluid px-4">
                    <div class="profile-card">
                        <h3 class="my-4">Unavailable Slot:</h3>
                        <h6 class="mb-5">Add Unavailable Temporary Slot to your court</h6>
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <form method="post" aria-labelledby="formHeading">
                            <h2 id="formHeading" class="visually-hidden">Unavailable Slot Form</h2>
                            {% csrf_token %}
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label>From<span id="starttime" class="text-danger">*</span></label></td>
                                        <td>{{ form.start_time }}</td>
                                    </tr>
                                    <tr>
                                        <td><label>To<span id="endtime" class="text-danger">*</span></label></td>
                                        <td>{{ form.end_time }}</td>
                                    </tr> 
                                    <tr>
                                        <td><label>Date<span id="date" class="text-danger">*</span></label></td>
                                        <td>{{ form.date }}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Court<span id="court" class="text-danger">*</span></label></td>
                                        <td>{{ form.court }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="buttons px-4 py-4" style="margin-left: 10%">
                                <button type="button" class="btn btn-secondary" onclick="goBack()" aria-label="Go back"><i class="fa-solid fa-arrow-left-long"></i></button>
                                <button type="submit" class="btn btn-primary" aria-label="Submit form"><i class="fa-solid fa-arrow-right-long"></i></button>
                            </div>
                        </form>
                    </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="{% url 'privacypolicy' %}">Privacy Policy</a>
                            &middot;
                            <a href="{% url 'termsconditions' %}">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            const $sidebarToggle = document.body.querySelector('#sidebarToggle');
            if ($sidebarToggle) {
                $sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }
        });

        function goBack() {
            history.go(-1);
        }

        document.addEventListener('DOMContentLoaded', function() {
            var dateInput = document.querySelector('input[type="date"]');
            var today = new Date().toISOString().split('T')[0];
            dateInput.setAttribute('min', today);
        });

    </script>
</body>

</html>