{% extends 'base_org.html' %}{% load static %}
{% block content %}
    <link href="{% static './css/add-un-slot.css' %}" rel="stylesheet"/>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'organization_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'temp-deslot-location' %}">Unavailable Slots</a></li>
        <li class="breadcrumb-item"><a href="{% url 'unavailable-slot-list' pk=pk %}">Unavailable-Slot-List</a></li>
        <li class="breadcrumb-item">Add-Unavailable-Slot</li>
    </ol>
    
    <div class="container-fluid px-4">
        <div class="profile-card">
            <h3 class="my-4">Unavailable Slot:</h3>
            <h6 class="mb-5">Add Unavailable Temporary Slot to your court</h6>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <form method="post" aria-labelledby="formHeading">
                <h2 id="formHeading" class="visually-hidden">Unavailable Slot Form</h2>
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td><label>From<span id="starttime" class="text-danger">*</span></label></td>
                            <td>{{ form.start_time }}</td>
                        </tr>
                        <tr>
                            <td><label>To<span id="endtime" class="text-danger">*</span></label></td>
                            <td>{{ form.end_time }}</td>
                        </tr> 
                        <tr>
                            <td><label>Date<span id="date" class="text-danger">*</span></label></td>
                            <td>{{ form.date }}</td>
                        </tr>
                        <tr>
                            <td><label>Court<span id="court" class="text-danger">*</span></label></td>
                            <td>{{ form.court }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons px-4 py-4">
                    <button type="button" class="btn btn-secondary" onclick="goBack()" aria-label="Go back"><i class="fa-solid fa-arrow-left-long"></i></button>
                    <button type="submit" class="btn btn-primary" aria-label="Submit form"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}