{% extends 'base_org.html' %}{% load static %}
{% block content %}
    <link href="{% static './css/add-temp-slot.css' %}" rel="stylesheet"/>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'organization_page' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'temp-slot-location' %}">Additional Slots</a></li>
        <li class="breadcrumb-item"><a href="{% url 'temp-slot-list' pk=locationpk %}">Temporary-Slot</a></li>
        <li class="breadcrumb-item">Add-Temp-Slot</li>
    </ol>

    <div class="container-fluid px-4 m">
        <div class="profile-card">
            <h3 class="my-4">Temporary Slot:</h3>
            <h6 class="mb-5">Add Available Temporary Slot to your court</h6>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td><label>From<span id="starttime" class="text-danger">*</span></label></td>
                            <td>{{ form.start_time }}</td>
                        </tr>
                        <tr>
                            <td><label>To<span id="endtime" class="text-danger">*</span></label></td>
                            <td>{{ form.end_time }}</td>
                        </tr>
                        <tr>
                            <td><label>Date<span id="date" class="text-danger">*</span></label></td>
                            <td>{{ form.date }}</td>
                        </tr>
                        <tr>
                            <td><label>Court<span id="court" class="text-danger">*</span></label></td>
                            <td>{{ form.court }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="buttons px-4 py-4">
                    <a type="button" class="btn btn-secondary" onclick="goBack()"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </form>
        </div>
{% endblock %}