{% extends 'base_org.html' %}{% load static %}
{% block content %}
    <link href="{% static './css/add-slot.css' %}" rel="stylesheet"/>
                
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'organization_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'slot-location' %}">Slot List Location</a></li>
        <li class="breadcrumb-item"><a href="{% url 'slot-list' locationpk=location_pk %}">Slot List</a></li>
        <li class="breadcrumb-item">Add-Slot</li>
    </ol>    
    
    <div class="container-fluid px-4 m">
        <div class="profile-card">
            <h3 class="my-4">Slots:</h3>
            <h6 class="mb-5">Add your Slots here</h6>
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <form id="slot-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_start_time">Start Time:</label>
                    {{ form.start_time }}
                </div>
                <div class="form-group">
                    <label for="id_end_time">End Time:</label>
                    {{ form.end_time }}
                </div>
                <div class="form-group">
                    <label for="id_court">Court:</label>
                    {{ form.court }}
                </div>
                <div class="form-group">
                    <label for="id_days">Days:</label>
                    {{ form.days }}
                </div>
                <div class="buttons px-4 py-4">
                    <a type="button" class="btn btn-secondary" onclick="goBack()"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="submit"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}