<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STRONGR - Book Playgrounds or Turfs for Games</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="{% static './css/cover.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container text-center">
      <h1 class="heading">Welcome to STRONGR Club</h1>
      <p class="sub-heading">
        Your ultimate destination for booking playgrounds or turfs for games!
      </p>
      <a href="{% url 'login' %}" class="btn btn-book btn-lg">Begin</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
