{% extends 'base_org.html' %} {% load static %} {% block content %}
<link href="{% static './css/del-pages.css' %}" rel="stylesheet" />

<div class="container-fluid px-4">
  <div class="profile-card">
    <h1 class="my-4">Confirm Delete - Slot</h1>
    <div class="mt-4">
      <form method="post">
        {% csrf_token %}
        <h5>
          Are you sure you want to delete "{{ slot.get_days_display }} -- {{slot.start_time }} - {{ slot.end_time }}"?
        </h5>
        <div class="buttons">
          <input type="submit" class="btn btn-danger" value="Confirm Delete" />
          <a class="btn btn-secondary" onclick="goBack()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const collapseElement = document.querySelector("#collapseLayouts");
    const Link = document.querySelector('a.nav-link[href="/slot/location/"]');
    collapseElement.classList.toggle("show");
    Link.classList.add("active");
  });
</script>
{% endblock %}
