<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static './css/error.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h5>Internal Server error !</h5>
    <h1>5</h1>
    <h1>00</h1>
    <div class="box">
      <span></span><span></span> <span></span><span></span>
      <span></span>
    </div>
    <div class="box">
      <span></span><span></span> <span></span><span></span>
      <span></span>
    </div>
    <p>
      We're unable to find out what's happening! We suggest you to
      <br />
      <a href="#" id="goBackLink">Go Back</a>
      or visit here later.
    </p>
    <script>
      // Add event listener to the "Go Back" link
      document
        .getElementById("goBackLink")
        .addEventListener("click", function (event) {
          event.preventDefault(); // Prevent default link behavior
          history.back(); // Go back to the previous page in history
        });
    </script>
  </body>
</html>
