{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>STRONGR.</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<style>
    .preview {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    td {
        align-items: center;
    }

    #successAlert {
        position: fixed;
        top: 70px;
        left: 85%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 90%;
        max-width: 400px;
        height: 60px;
    }

    #successAlert p {
        text-align: center;
        margin: 0;
    }

    /* Style for tab buttons */
    .tabs {
        display: flex;
        flex-direction: row;
    }

    .tab-button {
        padding: 7px 72px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
    }

    .tab-button:hover {
        background-color: #ddd;
    }

    .tab-button:focus {
        outline: none;
    }

    .tab-button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    /* Style for tab content */
    #tab-content {
        /* padding: 20px; */
        border: 1px solid #ddd;
        border-top: none;
    }

    footer {
        text-align: center;
        padding: 1em 0;
        background-color: #333;
        color: #fff;
        margin-top: auto;
        /* Push footer to the bottom */
        width: 100%;
    }
</style>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{% url 'organization_page' %}">STRONGR.</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>

        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i>{{ user.username }}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <!-- <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li> -->
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Main</div>
                        <a class="nav-link" href="{% url 'organization_page' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="{% url 'organization_profile' pk=1 %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>
                            Profile
                        </a>
                        <a class="nav-link" href="{% url 'organization_locationlist'%}"
                            style="color: white; background-color: rgb(68, 68, 68);">
                            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                            Locations
                        </a>
                        <a class="nav-link" href="{% url 'preview' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                            Preview
                        </a>
                        <a class="nav-link" href="{% url 'status' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-check-circle"></i></div>
                            Status
                        </a>
                        <a class="nav-link" href="{% url 'org_customers_list'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Customers
                        </a>
                        <div class="sb-sidenav-menu-heading">Slot</div>
                        <a class="nav-link" href="{% url 'temp-slot-location'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                            Additional Slots
                        </a>
                        <a class="nav-link" href="{% url 'temp-deslot-location'%}">
                            <div class="sb-nav-link-icon"><i class="fas fa-minus"></i></div>
                            Unavailable Slots
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    <div class="user-email">{{ request.user.email }}</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>

                <div class="container-fluid px-4 mt-4">
                    {% if messages %}
                    <div class="alert alert-success" role="alert" id="successAlert">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <h1 class="mt-4 mb-4" style="margin-left: 40%;">Location</h1>
                    <div class="card mb-4">
                        <div class="tabs">
                            {% if locationpk %}
                            <button data-url="{% url 'organization_updatelocation' locationpk %}"
                                class="tab-button">Address</button>
                            {% else %}
                            <button class="tab-button" disabled>Update (Location not specified)</button>
                            {% endif %}
                            <button data-url="{% url 'organization_locationgamelist' locationpk %}"
                                class="tab-button">Games</button>
                                <button data-url="{% url 'organization_locationgametype' locationpk %}"
                                class="tab-button">Add Game</button>
                            <button data-url="{% url 'court-list' locationpk %}" class="tab-button">Court</button>
                            <button data-url="{% url 'organization_imageslist' locationpk %}"
                                class="tab-button">Images</button>
                            <button data-url="{% url 'organization_locationworkingdays' locationpk %}"
                                class="tab-button">Working Days</button>
                            <button data-url="{% url 'organization_locationamenities' locationpk %}"
                                class="tab-button">Amenities</button>
                        </div>
                        <div id="tab-content"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>


    <script>
        window.addEventListener('DOMContentLoaded', event => {

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });

        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const successAlert = document.getElementById('successAlert');
            if (successAlert) {
                setTimeout(() => {
                    successAlert.style.display = 'none';
                }, 2500); // Hide after 5000ms or 5 seconds
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            // Function to initialize form submission
            function initForm() {
                $('#tab-content form').submit(function(event) {
                    event.preventDefault(); // Prevent the default form submission
                    var formData = new FormData(this); // Create a FormData object passing in the form
                    $.ajax({
                        url: $(this).attr('action'), // Get form action attribute
                        type: 'POST',
                        formData,
                        processData: false, // Prevent jQuery from converting the data into a query string
                        contentType: false, // Prevent jQuery from setting the content type
                        success: function(response) {
                            $('#tab-content').html(response); // Load response into tab content
                            initForm(); // Reinitialize the form submission
                            messages.success(request, 'Location updated successfully.');
                        },
                        error: function(xhr, status, error) {
                            console.error("Form submission error: " + error);
                        }
                    });
                });
            }
        
            // Load content when tab is clicked and initialize form
            $('.tab-button').click(function() {
                var url = $(this).data('url');
                $('#tab-content').load(url, function() {
                    initForm(); // Initialize form submission after content is loaded
                });
            });
        });
        </script>
</body>

</html>