{% load static %}
<link href="{% static './css/court-list.css' %}" rel="stylesheet" />
<div class="container-fluid px-4 m">
  {% if messages %}
  <div class="alert alert-success" role="alert" id="successAlert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="profile-card">
    <!-- <h3 class="my-4">Games:</h3> -->
    <!-- <h6 class="mb-5">Add Available Games to your Location</h6> -->

    <div>
      <div class="card mb-4">
        <div class="location-card card-header">
          <div>Game</div>
          <div>
            <a
              href="{% url 'organization_locationgametype' locationpk %}"
              class="btn btn-success align-self-end"
              data-toggle="tooltip"
              title="Add game"
              ><i class="fa-solid fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="card-body">
          <table class="table-bordered">
            <thead>
              <tr>
                <th>Game</th>
                <th>Update</th>
              </tr>
            </thead>
            <tbody>
              {% for game in games %}
              <tr>
                <td>{{ game.game_type }}</td>
                <td>
                  <div class="update-icon">
                    <a
                      href="{% url 'organization_updatelocationgametype' locationpk=game.organization_location.pk gamepk=game.pk %}"
                      class="btn btn-primary"
                      ><i class="fa-regular fa-pen-to-square"></i
                    ></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button id="nextTabBtn" class="btn btn-primary">Next Tab</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/tab.js' %}"></script>
