{% load static %}{% load url_filters %}

<link href="{% static './css/court-list.css' %}" rel="stylesheet" />

<div class="container-fluid px-4 m">
  {% if messages %}
  <div class="alert alert-success" role="alert" id="successAlert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="profile-card">
    <!-- <h3 class="my-4">Images:</h3> -->
    <!-- <h6 class="mb-5">Add Available Images to your Location</h6> -->

    <div>
      <div class="card mb-4">
        <div class="location-card card-header">
          <div>Image</div>
          <div>
            <a
              href="{% url 'organization_images' locationpk %}"
              class="btn btn-success align-self-end"
              data-toggle="tooltip"
              title="Add image"
              ><i class="fa-solid fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="card-body">
          <table class="table-bordered">
            <thead>
              <tr>
                <th>Pictures</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              {% for image in images %}
              <tr>
                <td>
                  <div class="update-icon">
                    {% if image.image %}
                    <img
                      src="{{ image.image.url|fix_https }}"
                      alt="Image"
                      width="70"
                      height="70"
                    />
                    {% else %} No Image {% endif %}
                  </div>
                </td>
                <td>
                  <div class="update-icon">
                    <a
                      href="{% url 'organization_updateimages' pk=image.pk %}"
                      class="btn btn-primary"
                      ><i class="fa-regular fa-pen-to-square"></i
                    ></a>
                  </div>
                </td>
                <td>
                  <div class="update-icon">
                    <a
                      href="{% url 'organization_deleteimage' pk=image.pk %}"
                      class="btn btn-danger"
                      ><i class="fa-solid fa-trash"></i
                    ></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button id="nextTabBtn" class="btn btn-primary">Next Tab</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#nextTabBtn").click(function (event) {
      event.preventDefault();
      const activeTab = $(".tab-button.active");
      const nextTab = activeTab.next(".tab-button");

      if (nextTab.length > 0) {
        activeTab.removeClass("active");
        nextTab.addClass("active");

        const url = nextTab.data("url");
        $("#tab-content").load(url, function () {
          initFormSubmission();
        });
      }
    });
  });
</script>
