{% extends 'base_org.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-4">
  <div class="profile-card">
    <h1 class="my-4">Password Changed Successfully</h1>
    <div class="alert alert-success" role="alert">
      Your password has been changed. You have been logged out for security reasons.
    </div>
    <p id="countdown">You will be redirected to the login page in <span id="timer">10</span> seconds...</p>
  </div>
</div>

<script>
  let countdownElement = document.getElementById('timer');
  let seconds = parseInt(countdownElement.textContent);
  //let is used because of constant change in timer

  function updateCountdown() {
    if (seconds > 0) {
      seconds--;
      countdownElement.textContent = seconds;
    } else {
      window.location.href = "{% url 'login' %}";
    }
  }
  
  const countdownInterval = setInterval(updateCountdown, 1000);
</script>
{% endblock %}
