{% load static %}{% load url_filters %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>STRONGR.</title>

  <!-- plugins:css -->
  <link href="{% static 'css/signupstyle.css' %}" rel="stylesheet" />
  <link href="{% static 'css/vendor.bundle.base.css' %}" rel="stylesheet" />
  <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- End layout styles -->
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h1 class="mt-4 mb-4" style="margin-left: 35%;">SIGN UP</h1>
              <form method="post">
                {% csrf_token %}
                <div class="form-group mt-3 mb-3">
                  <label for="{{ form.first_name.id_for_label }}">First Name</label>
                  <div class="input-icon">
                    <i class="fas fa-user"></i>
                    {{ form.first_name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                  <div class="input-icon">
                    <i class="fas fa-user"></i>
                    {{ form.last_name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ form.organization_name.id_for_label }}">Organization Name</label>
                  <div class="input-icon">
                    <i class="fas fa-building"></i>
                    {{ form.organization_name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ form.email.id_for_label }}">Email</label>
                  <div class="input-icon">
                    <i class="fas fa-envelope"></i>
                    {{ form.email }}
                  </div>
                  {% if form.email.errors %}
                    <div class="error">
                      {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="{{ form.phone_number.id_for_label }}">Phone number</label>
                  <div class="input-icon">
                    <i class="fas fa-phone"></i>
                    {{ form.phone_number }}
                  </div>
                  {% if form.phone_number.errors %}
                    <div class="error">
                      {% for error in form.phone_number.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Sign Up</button>
                </div>

                  <div class="d-flex">
                    <button class="btn btn-facebook col mr-2">
                      <i class="mdi mdi-facebook"></i> Facebook
                    </button>
                    <button class="btn btn-google col">
                      <i class="mdi mdi-google-plus"></i> Google plus
                    </button>
                  </div>

                  <p class="sign-up text-center">Already have an Account?<a href="{% url 'login' %}">Login</a></p>
                  <!-- <p class="terms">By creating an account you are accepting our<a href="{% url 'termsandconditions' %}"> Terms & Conditions</a></p> -->
                </form>
                <div class="text-center mt-4">
                  <p>Need a Guide?</p><a href="{% static 'guide/organization.pdf' %}">Click Here!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>

  </body>
</html>
