{% extends 'base_tenant.html' %} {% block content %}{% load static %}{% load url_filters %}
<link href="{% static 'styles.css' %}" rel="stylesheet" />
<link href="{% static './css/tenant_customer.css' %}" rel="stylesheet" />
<div class="container-fluid px-4 mt-4">
	{% if messages %}
		<div>
			{% for message in messages %}
				{% if 'profile_update' in message.tags %}
					<div class="alert alert-success" role="alert" id="successAlert">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	{% if messages %}
		<div class="alert alert-success" role="alert" id="successAlert">
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
		</div>
	{% endif %}
	<h1 class="mt-4 mb-4 customers-title ">Customers List</h1>
	<div class="card mb-4">
		<div class="location-card card-header">
			<div><i class="fas fa-users"></i>
			Customers</div>
		</div>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Number</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Number</th>
						</tr>
					</tfoot>
					<tbody>
						{% for customer in customers %}
						<tr>
							<td>{{customer.user.first_name}}</td>
							<td>{{customer.user.email}}</td>
							<td>{{customer.phone_number}}</td>
						</tr>
						{% endfor%}
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
