{% extends 'base_org.html' %}{% load static %}
{% block content %}
    
    <link href="{% static './css/unavailable-slot-list.css' %}" rel="stylesheet" />

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'organization_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'temp-deslot-location' %}">Unavailable Slots</a></li>
        <li class="breadcrumb-item">Unavailable-Slot-List</li>
    </ol>

    <div class="container-fluid px-4 mt-4">
        
        <div class="profile-card">
            <h3 class="my-4">Temporary Slots</h3>
            <h6 class="mb-5">Unavailable Temporary Slots are:</h6>
        </div>
        <div class="card mb-4">
            <div class="location-card card-header">
                <div>Slots</div>
                <div>
                    <a href="{% url 'add-unavailable-slot' pk=locationpk %}" class="btn btn-success align-self-end"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>

            <div class="card-body">
                {% csrf_token %}
                <table class="table" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Court</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Location</th>
                            <th>Court</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for slot in tempSlots %}
                            <tr>
                                <td>{{ slot.location }}</td>
                                <td>{{ slot.court.name }}</td>
                                <td>{{ slot.date }}</td>
                                <td>{{ slot.start_time }} - {{ slot.end_time }}</td>
                                <td>
                                    <form id="delform-{{ slot.id }}" action="{% url 'unavailable-slot-list' slot.location.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                        <button type="button" class="btn btn-danger" onclick="openPopup(event, '{{ slot.id }}', '{{ slot.location }}', '{{ slot.court.name }}', '{{ slot.date }}', '{{ slot.start_time }} - {{ slot.end_time }}')">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="buttons px-4 py-4" style="margin-left: 40%;">
        <div><a href="{% url 'temp-deslot-location' %}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left-long"></i></a></div>
    </div>

    <div class="popup" id="popup">
        <h2>Confirm Delete:</h2>
        <p>Slot ID: <span id="slot-id"></span></p>
        <p>Location: <span id="slot-location"></span></p>
        <p>Court: <span id="slot-court"></span></p>
        <p>Date: <span id="slot-date"></span></p>
        <p>Time: <span id="slot-time"></span></p>
        <p>Are you sure you want to delete?</p>
        <div style="display: flex; justify-content: space-between;">
            <button onclick="handleNo()">No</button>
            <button onclick="handleYes()">Yes</button>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>

    <script>
        function handleYes(event){
            const slotId = document.getElementById("popup").getAttribute("data-slot-id");
            const form = document.getElementById("delform-" + slotId);
            if (form) {
                form.submit();
            } else {
                console.error("Form not found");
            }
        }

        function handleNo() {
            closePopup();
        }

        function openPopup(event, slotId, location, court, date, time) {
            event.preventDefault();
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
            document.getElementById("popup").setAttribute("data-slot-id", slotId);
            document.getElementById("slot-id").innerText = slotId;
            document.getElementById("slot-location").innerText = location;
            document.getElementById("slot-court").innerText = court;
            document.getElementById("slot-date").innerText = date;
            document.getElementById("slot-time").innerText = time;
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }

    </script>
{% endblock %}