{% extends 'base_org.html' %}
{% load static %}{% load url_filters %}
{% block content %}
<link href="{% static './css/update-image.css' %}" rel="stylesheet" />

          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'organization_page' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'organization_locationlist'%}">Location List</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mainview' locationpk %}">Location</a></li>
            <li class="breadcrumb-item">Upate-Image</li>
          </ol>
          <div class="container-fluid px-4 m">
            <div class="profile-card">
              <h1 class="my-4">Update Image</h1>
              <div>
                <form id="upd-img-form" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="id_image" class="form-label">Image</label>
                      {{ form.image }}
                      {% if form.instance.image %}
                          <img src="{{ form.instance.image.url|fix_https }}" alt="Current Image" class="mt-3" style="max-width: 300px;">
                      {% else %}
                          <p>Upload a new image</p>
                      {% endif %}
                </div>
                  
                  <div class="buttons px-4 py-4" style="margin-left: 20%">
                    <a type="button" class="btn btn-secondary" onclick="goBack()"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <button type="submit" onclick="openPopup(event)" class="btn btn-primary" data-toggle="tooltip" title="submit"><i class="fa-solid fa-arrow-right-long"></i></button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        
        <!-- Popup content -->
        <div class="popup" id="popup">
          <div class="popup-content">  
              <h2>Confirm Update</h2>
              <p>Are you sure you want to continue?</p>
              <div style="display: flex; justify-content: space-between;">
                  <button onclick="handleYes()">Yes</button>
                  <button onclick="handleNo()">No</button>
              </div>
          </div>
      </div>
        <div class="overlay" id="overlay"></div>
      

    <script>
      function validateForm() {
        // Check if the "Clear Image" checkbox is checked
        var clearImageCheckbox = document.getElementById("image-clear_id");
        
        if (clearImageCheckbox.checked) {
            // Clear the file input
            var imageInput = document.getElementById("id_image");
            imageInput.value = null;
        }
        
        // Check if an image is selected
        var imageInput = document.getElementById("id_image");
        if (!imageInput.files.length && !clearImageCheckbox.checked) {
            alert("Please select an image or check 'Clear Image'.");
            return false;
        }
        return true;
      }
    
      function handleYes(event){
          form = document.getElementById("upd-img-form");
          form.submit()
      }

      function handleNo(){
          closePopup()
      }

      function openPopup(event) {
          event.preventDefault();
          document.getElementById("popup").style.display = "block";
          document.getElementById("overlay").style.display = "block";
      }

      function closePopup() {
          document.getElementById("popup").style.display = "none";
          document.getElementById("overlay").style.display = "none";
      }

    </script>
{% endblock %}