{% load static %}
    <link href="{% static './css/update_location.css' %}" rel="stylesheet" />
    <div class="container-fluid px-4 m">
        <div class="profile-card">
            <div>
                <form id="upd-loc-form" method="post" action="{% url 'organization_updatelocation' pk=pk %}">
                    {% csrf_token %}
                    <table>
                        <tbody>
                            {% for field in form %}
                                <tr>
                                    <td>
                                        {{ field.label_tag }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                    </td>
                                    <td>
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger">
                                                {{ field.errors|join:", " }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="buttons text-center mt-4 mx-5">
                        <button type="button" onclick="openPopup(event)" class="btn btn-primary mx-2">Update</button>
                        <button id="nextTabBtn" class="btn btn-primary">Next</button>
                    </div>

                    <input type="hidden" name="organization" value="{{ request.user.organization.id }}">
                </form>
            </div>
        </div>
    </div>

    <!-- Popup content -->
    <div class="popup" id="popup">
        <div class="popup-content">
            <h2>Confirm Update</h2>
            <p>Are you sure you want to continue?</p>
            <div class="buttons1">
                <button onclick="handleYes()">Yes</button>
                <button onclick="handleNo()">No</button>
            </div>
        </div>
    </div>
    
    <div class="overlay" id="overlay"></div>

    <script src="{% static 'js/tab.js' %}"></script>
    <script>
        
        function handleYes(event){
            form = document.getElementById("upd-loc-form");
            form.submit()
        }

        function handleNo(){
            closePopup()
        }

        function openPopup(event) {
            event.preventDefault();
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }

        
    </script>