{% load static %}
    <link href="{% static './css/workingdaysstyle.css' %}" rel="stylesheet" />
                    <div class="container-fluid my-4 px-4 m">
                        <div class="profile-card">
                            <form action="{% url 'organization_locationworkingdays' locationpk %}" id="workingdays_form" method="post">
                                {% csrf_token %}
                                {{ formset.management_form }}
                                <table>
                                    <tr>
                                        <th>Days</th>
                                        <th>Opening Time</th>
                                        <th>Closing Time</th>
                                        <th>Availability</th>
                                    </tr>
                                    {% for form in formset %}
                                    <tr>
                                        <td id="form-id">{{ form.id }}</td>
                                        <td>{{ form.instance.days }}</td>
                                        <td>
                                            {{ form.work_from_time }}
                                            <div class="form-error" id="{{ form.prefix }}-work_from_time-error"></div>
                                        </td>
                                        <td>
                                            {{ form.work_to_time }}
                                            <div class="form-error" id="{{ form.prefix }}-work_to_time-error"></div>
                                        </td>
                                        <td>
                                            {{ form.is_active }}
                                            <div class="form-error" id="{{ form.prefix }}-is_active-error"></div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% if formset.non_form_errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in formset.non_form_errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <div class="row mt-4">
                                    <div class="col-md-6 text-end">
                                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="submit">Update</button>
                                        <button id="nextTabBtn" class="btn btn-primary">Next Tab</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

    <div class="toast" id="successToast"></div>
    <div class="modal" id="confirmationModal">
        <div class="modal-content">
            <h2>Confirm Update</h2>
            <p>Are you sure you want to update the working day details?</p>
            <div class="button-modal">
                <button id="cancelButton">Cancel</button>
                <button id="confirmButton">Confirm</button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('workingdays_form');
            const modal = document.getElementById('confirmationModal');
            const confirmButton = document.getElementById('confirmButton');
            const cancelButton = document.getElementById('cancelButton');
            const toast = document.getElementById('successToast');

            form.addEventListener('submit', function(event) {
                event.preventDefault();
                modal.style.display = "block";
            });

            confirmButton.addEventListener('click', function() {
                modal.style.display = "none";
                submitFormData();
            });

            cancelButton.addEventListener('click', function() {
                modal.style.display = "none";
            });

            function submitFormData() {
                const formData = new FormData(form);
                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === 'success') {
                        showToast(data.message);
                        setTimeout(() => {
                            window.location.href = "{% url 'mainview' locationpk %}";
                        }, 2000);
                    } else {
                        showToast(data.message && 'Error updating working days.');
                        displayFormErrors(data.errors);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    showToast('Error submitting form. ' + error.message);
                });
            }

            function displayFormErrors(errors) {
                const formFields = document.querySelectorAll('form .form-error');
                formFields.forEach(field => field.innerHTML = '');  // Clear previous errors

                if (errors) {
                    for (const [field, errorList] of Object.entries(errors)) {
                        const errorElement = document.getElementById(`${field}-error`);
                        if (errorElement) {
                            errorElement.innerHTML = JSON.parse(errorList).map(error => error.message).join('<br>');
                        }
                    }
                }
            }
            });
            
            $(document).ready(function () {
                $('#nextTabBtn').click(function (event) {
                    event.preventDefault(); 
                    const activeTab = $('.tab-button.active');
                    const nextTab = activeTab.next('.tab-button');
            
                    if (nextTab.length > 0) {
                        activeTab.removeClass('active');
                        nextTab.addClass('active');
            
                        const url = nextTab.data('url');
                        $('#tab-content').load(url, function () {
                            initFormSubmission();
                        });
                    }
                });
            });
    </script>