{% extends 'base_org.html' %}
{% load static %}

{% block content %}
<link href="{% static './css/update-game.css' %}" rel="stylesheet" />

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="{% url 'organization_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
  <li class="breadcrumb-item"><a href="{% url 'organization_locationlist' %}">Location List</a></li>
  <li class="breadcrumb-item"><a href="{% url 'mainview' locationpk %}">Location</a></li>
  <li class="breadcrumb-item">Update-Game</li>
</ol>

<div class="card main-card">
  <div class="card-body">
    <h1 class="card-title">Update Game</h1>
    <h6 class="card-subtitle mb-4">Update Game data and Happy Hour Pricing in your Location</h6>

    {% if messages %}
    <div class="alert alert-danger">
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form id="upd-game-form" method="post">
      {% csrf_token %}

      <!-- Main Game Type Information -->
      <div class="card2 mb-4">
        <h3 class="card-title">Game Information</h3>
        <div class="form-group row ms-4 me-4">
          <label for="{{ form.game_type.id_for_label }}" class="col-sm-3 col-form-label">Game<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            {{ form.game_type }}
          </div>
        </div>
        <div class="form-group row ms-4 me-4">
          <label for="{{ form.pricing.id_for_label }}" class="col-sm-3 col-form-label">Pricing<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            {{ form.pricing }}
          </div>
        </div>
        <div class="form-group row ms-4 me-4">
          <label for="{{ form.description.id_for_label }}" class="col-sm-3 col-form-label">Description<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            {{ form.description }}
          </div>
        </div>
        <div class="form-group row ms-4 me-4">
          <label for="{{ form.is_active.id_for_label }}" class="col-sm-3 col-form-label">Availability</label>
          <div class="col-sm-9">
            {{ form.is_active }}
          </div>
        </div>
      </div>

      <div class="buttons px-4 py-4">
        <button type="button" class="btn btn-secondary" onclick="goBack()">
          <i class="fa-solid fa-arrow-left-long"></i> Back
        </button>
        <button type="submit" class="btn btn-primary">
          <i class="fa-solid fa-save"></i> Save
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}