{% extends 'base_org.html' %}{% load static %}
{% block content %}
    <link href="{% static './css/update_slot.css' %}" rel="stylesheet" />

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'organization_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'slot-location' %}">Slot List location</a></li>
        <li class="breadcrumb-item"><a href="{% url 'slot-list' locationpk=locationpk %}">Slot List</a></li>
        <li class="breadcrumb-item">Update-Slot</li>
    </ol>

    <div class="container-fluid px-4 m">
        <div class="profile-card">
            <h3 class="my-4">Update Slot:</h3>

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form id="upd-slot-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_start_time">Start Time:</label>
                    {{ form.start_time }}
                </div>
                <div class="form-group">
                    <label for="id_end_time">End Time:</label>
                    {{ form.end_time }}
                </div>
                <div class="form-group">
                    <label for="id_court">Court:</label>
                    <select id="id_court" name="court" disabled>
                        {% for value, label in form.court.field.choices %}
                            {% if value == form.court.value %}
                                <option value="{{ value }}" selected>{{ label }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_days">Days:</label>
                    {{ form.days }}
                </div>
                <div class="form-group" disabled>
                    <label for="id_checkbox">Booked:</label>
                    {{ form.is_booked }}
                </div>
                <div class="buttons px-4 py-4">
                    <a type="button" class="btn btn-secondary" onclick="goBack()"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <button type="submit" onclick="openPopup(event)" class="btn btn-primary" data-toggle="tooltip" title="submit"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </form>
        </div>
    </div>

    <!-- Popup content -->
    <div class="popup" id="popup">
        <div class="popup-content">
            <h2>Confirm Update</h2>
            <p>Are you sure you want to continue?</p>
            <div style="display: flex; justify-content: space-between;">
                <button onclick="handleYes()">Yes</button>
                <button onclick="handleNo()">No</button>
            </div>
        </div>
    </div>

    <div class="overlay" id="overlay"></div>

    <script>
        function handleYes(event){
            form = document.getElementById("upd-slot-form");
            form.submit()
        }

        function handleNo(){
            closePopup()
        }

        function openPopup(event) {
            event.preventDefault();
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }
    </script>
{% endblock %}