.bookinginfo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}

@media (max-width: 767px) {
    .bookinginfo-content {
        margin: 0;
    }
  }

.bookinginfo-content .ul {
    display: flex;
    flex-direction: column;
}

.bookinginfo-content h1, h2, h3 {
    margin: 0;
}
 
.bookinginfo-content .card1 .booking-form{
    padding: 1.5rem;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}
 
.bookinginfo-content .card1 label{
    font-weight: 600;
    margin-top: 10px;
    text-align: left;
    /* width: 180px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}
 
.bookinginfo-content .card1 select,.bookinginfo-content .card1 input{
    padding: 5px;
    margin: 5px;
    /* border: 1px solid #bebebe; */
    border-radius: 5px;
    width: 10rem;
    max-width: 150px;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
    background: #dadada;
    color: #2b2b2b;
}
 
.bookinginfo-content .card1 .ul{
    margin: 0%;
    padding-left: 0%;
}

 
.bookinginfo-content .card1{
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}

 
.bookinginfo-content .card1 .container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}


.bookinginfo-content .card1 .select, .bookinginfo-content .card1 .hour-field {
    /* padding: 1rem; */
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
    column-gap: 3.5rem;
}

.bookinginfo-content .card1 .select-date{
    margin-top: 1rem;
    margin-bottom: rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
    column-gap: 5rem;
}
 
.bookinginfo-content .card1 .select-hour{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}
 
.bookinginfo-content .card1 input[type='text']{
    width:32px;
    height: 30px;
}

.bookinginfo-content .card2{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}

.bookinginfo-content .card2 small {
    float: left;
}

.bookinginfo-content .card2 h2{
    margin-bottom: 1rem;
}

.bookinginfo-content .card2 .ul{
    margin-bottom: 1rem;

}

.bookinginfo-content .card2 .ul .li {
    border: 1px solid rgb(0, 0, 0, 0.125);
}

.bookinginfo-content .card2 .li{
    width: 300px;
    border: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
}

.bookinginfo-content .card2 .button {
    display: flex;
    justify-content: center;
}
    
@media (max-width: 770px) {

        .bookinginfo-content{
            display: flex;
            justify-content: center;
            box-shadow: 0px;
        }

        .bookinginfo-content .card2 h2 {
            justify-content: center;
            margin-left: 100px;
        }
        .bookinginfo-content .card1 .container-title {
            margin-left: 50px;
        }
        .bookinginfo-content .card1{
            margin: 0;
            padding-bottom: 0;
        }
        .bookinginfo-content .card1 .select, .select-date, .hour-field{
            padding: 0%;
        }
    
      }


      
      .login-form .login-title{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: inherit;
        flex-shrink: inherit;
      }
      
     .login-form {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        flex-wrap: wrap;
        flex-grow: inherit;
        flex-shrink: inherit;
      }
      
      @media (max-width: 770px) {
        .login-form {
          box-shadow: 0;
        }
      }
      
      .login-form form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: inherit;
        flex-shrink: inherit;
      }
      
      .login-form input{
        padding: 0.5rem;
        margin: 1rem;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        flex-grow: inherit;
        flex-shrink: inherit;
      }
      
      .login-form form label {
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-grow: inherit;
        flex-shrink: inherit;
      }
      
      .login-form button {
        width: fit-content;
        margin: 1.5rem;
      }
      
      .login-form .login-button {
        align-items: center;
        justify-content: center;
        display: flex;
      }
      
      .login-form span{
        display: flex;
        justify-content: center;
      }
      
      .login-form .loader{
        align-self: center;
        margin: 2rem;
      }