.user{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-top: 2rem;
}
.user .details{
    box-shadow: 0px 0px 0px 0px;
    margin: 0px;
}
.user .bookings{
    box-shadow: 0px 0px 0px 0px;
    margin: 0px;
}
.profile-heading{
    text-align: center;
}
.user  .update-user-btn{
    align-self: center;
}

.booked-status{
    color: green;
}

.pending-status{
    color: orange;
}

.cancelled-status {
    color: rgb(214, 10, 10);
}