.billing-cage .card {
    border: 1px solid #EAEDF0;
    border-radius: 10px;
    padding: 24px;
    color: inherit;
    margin-top: 40px;
}
.checkout-page .breadcrumb.breadcrumb-list {
    background: url(../images/checkout-bg.jpg) rgba(36, 29, 57, 0.8) no-repeat;
    background-size: cover;
}
.billing-cage .card {
    border: 1px solid #EAEDF0;
    border-radius: 10px;
    padding: 24px;
    color: inherit;
    margin-bottom: 40px;
}
.billing-cage p{
    color: #6B7385;
}
.billing-cage li{
    list-style: none;
}
.billing-cage aside .order-total {
    background: #F9F9F6;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0 9px 0;
}
form input.form-control, form textarea.form-control {
    padding: 20px;
    border-radius: 10px;
    background: #eee;
    border: none;
}
.checkout-form .input-wrapper{
    margin-bottom: 1rem;
}
.checkout-form .form-check input{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.checkout-form .form-check{
    margin-bottom: 24px;
    cursor: pointer;
}
.checkout-form .btn-block button{
    position: relative;
    width: 440px;
}
.checkout-form .form-check .form-check-label{
    margin-left: 10px;
}

.checkout-card {
    border: 1px solid #EAEDF0;
    border-radius: 10px;
    padding: 24px;
    color: inherit;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    margin-top: 30px;
}

.checkout-card button {
    width: 100% !important;
}