
.venue-club-details .venue-info{
  padding: 24px;
  box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.25);
  margin-top: 30px;
}
.venue-club-details .venue-info h1 span {
  min-width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #23B33A;
  display: inline-block;
  margin-left: 10px;
}
.venue-club-details .venue-info h1 span{
  font-size: 16px;
  color: #FFFFFF;
}
.venue-club-details .venue-info ul.social-options li:last-child {
  border: 1px solid #EAEDF0;
  border-radius: 6px;
  padding: 10px;
}
.venue-club-details .venue-info ul.social-options li span {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #097E52;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.venue-club-details .rating{
  color: #FFAA00;
  font-size: 14px;
}
.venue-club-details .venue-info ul li {
  font-size: 14px;
  padding-right: 15px;
}
.venue-club-details a{
  color: #6B7385;
  cursor: pointer;
  /* text-decoration: none; */
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.venue-club-details .venue-info ul.social-options li .review p {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}
.venue-club-details .venue-info ul.social-options li .review {
  padding: 0 15px;
}
.venue-club-details .venue-info ul.details .profile-pic img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
.venue-club-details .venue-info ul.details .profile-pic .venue-type {
  background: linear-gradient(93.86deg, #006177 -2.6%, #269089 67.39%, #7ABC82 110.84%);
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
  display: block;
}
.venue-club-details .venue-info ul.details .profile-pic .venue-type img {
  width: 20px;
}
.add-court.venue-club-details form .accordion-item#rules .rules-wraper li, .radio-setview .radio .form-check, .request-modal .accordion .accordion-item#location .dull-bg .white-bg, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul, .sortby-section .sorting-info .sortby-filter-group .grid-listview .nav, .social-medias li, .venue-club-details aside .availability .icon-bg, .venue-club-details .accordion .accordion-item#location .dull-bg .white-bg, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul, .venue-club-details .venue-info ul.details li, .venue-club-details .venue-info ul li, .coach.lessons .lesson-types li a, .booking-date .time-slot, .checkout aside ul li, .booking-steps ul li h5 a, .listing-item .listing-button.read-new, .listing-item .listing-button, .header .header-navbar-rht.logged-in > li.has-arrow.logged-item .nav-link, .dropdown-action .action-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.radio-setview .radio .form-check, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul, .dashboard-card .card-header h4, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul, .venue-club-details .venue-info ul.details li, .venue-club-details .venue-info ul li {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.profile-info-box ul, .prefer-role, .check-single-lesson, .upload-show-img, .profile-detail-blk ul, .includes-set ul, .amenities-set, .coach-profile-set ul li, .coach-profile-set ul, .radio-setview .radio .form-check, .request-modal .accordion .accordion-item#location .dull-bg .white-bg, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul, .profile-set-content ul li, .rating-city, .profile-set, .table-accept-btn, .chat-window .chat-cont-right .chat-body .media .media-body .msg-box > div .chat-msg-info .chat-time, .chat-window .chat-cont-right .chat-body .media, .chat-window .chat-cont-left .chat-users-list a.media, .chat-window, .notification-coach .notify-detail .hour-notify, .table-date-time h4 span, .court-tab-content .card-body .coache-head-blk .request-coach-list ul li a, .coach-court-list ul li, .featured-venues-item.venue-list-item .listing-item .listing-details-group ul, .featured-venues-item.venue-list-item .listing-item, .coach-btn ul, .social-medias li, .venue-club-details aside .availability .icon-bg, .venue-club-details .accordion .accordion-item#location .dull-bg .white-bg, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul, .venue-club-details .venue-info ul.details li, .venue-club-details .venue-info ul li, .coach.lessons .lesson-types li a, .booking-date .time-slot, .checkout aside ul li, .booking-steps ul li h5 a, .subscribe-style, .start-your-journey .journey-list, .listing-item .listing-button, .listing-item .listing-venue-owner a, .listing-item .list-reviews .fav-icon, .listing-item .tag, .table-head-name a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.add-court.venue-club-details form .accordion-item#rules .rules-wraper li, .radio-setview .radio .form-check, .request-modal .accordion .accordion-item#location .dull-bg .white-bg, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul, .sortby-section .sorting-info .sortby-filter-group .grid-listview .nav, .social-medias li, .venue-club-details aside .availability .icon-bg, .venue-club-details .accordion .accordion-item#location .dull-bg .white-bg, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul, .venue-club-details .venue-info ul.details li, .venue-club-details .venue-info ul li, .coach.lessons .lesson-types li a, .booking-date .time-slot, .checkout aside ul li, .booking-steps ul li h5 a, .listing-item .listing-button.read-new, .listing-item .listing-button, .header .header-navbar-rht.logged-in > li.has-arrow.logged-item .nav-link, .dropdown-action .action-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.radio-setview .radio .form-check, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul, .dashboard-card .card-header h4, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul, .venue-club-details .venue-info ul.details li, .venue-club-details .venue-info ul li {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.profile-info-box ul, .prefer-role, .check-single-lesson, .upload-show-img, .profile-detail-blk ul, .includes-set ul, .amenities-set, .coach-profile-set ul li, .coach-profile-set ul, .radio-setview .radio .form-check, .request-modal .accordion .accordion-item#location .dull-bg .white-bg, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .request-modal .accordion .accordion-item#reviews .review-wrapper .recommended ul, .profile-set-content ul li, .rating-city, .profile-set, .table-accept-btn, .chat-window .chat-cont-right .chat-body .media .media-body .msg-box > div .chat-msg-info .chat-time, .chat-window .chat-cont-right .chat-body .media, .chat-window .chat-cont-left .chat-users-list a.media, .chat-window, .notification-coach .notify-detail .hour-notify, .table-date-time h4 span, .court-tab-content .card-body .coache-head-blk .request-coach-list ul li a, .coach-court-list ul li, .featured-venues-item.venue-list-item .listing-item .listing-details-group ul, .featured-venues-item.venue-list-item .listing-item, .coach-btn ul, .social-medias li, .venue-club-details aside .availability .icon-bg, .venue-club-details .accordion .accordion-item#location .dull-bg .white-bg, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li, .venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul, .venue-club-details .venue-info ul.details li, .venue-club-details .venue-info ul li, .coach.lessons .lesson-types li a, .booking-date .time-slot, .checkout aside ul li, .booking-steps ul li h5 a, .subscribe-style, .start-your-journey .journey-list, .listing-item .listing-button, .listing-item .listing-venue-owner a, .listing-item .list-reviews .fav-icon, .listing-item .tag, .table-head-name a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.venue-club-details p{
  color: #6b7385 !important;
  margin-top: 0;
}
.venue-club-details .venue-options {
  padding: 15px 15px 9px 15px;
  box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.25);
  border-radius: 10px;
}
.venue-club-details .btn {
  font-size: 16px !important;
  padding: 12px 20px !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
  -webkit-transition: all 0.5s ease-in-out 0s !important;
  -ms-transition: all 0.5s ease-in-out 0s !important;
  transition: all 0.5s ease-in-out 0s !important;
}
.venue-club-details .venue-options ul li {
  margin-bottom: 20px;
  margin: 0 6px 6px 0;
  float: left;
}
.venue-club-details .venue-options ul li.active a, .venue-club-details .venue-options ul li:hover a {
  background: #192335;
  color: #FFFFFF;
  border-color: #192335;
}
.venue-club-details .venue-options ul li a {
  padding: 10px 15px;
  border: 1px solid #EAEDF0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #192335;
}
.venue-club-details .accordion .accordion-item {
  color: #6B7385;
  box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.25);
  border-radius: 10px;
  border: none;
}
.venue-club-details .accordion .accordion-item .accordion-header {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.venue-club-details .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #192335;
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #EAEDF0;
}
.venue-club-details .accordion .accordion-item .accordion-header .accordion-button {
  padding: 20px 0 20px 0;
  font-size: 20px;
  margin-bottom: 0;
  color: #192335;
  font-weight: 600;
  border-color: #EAEDF0;
  cursor: pointer;
}
.venue-club-details .accordion .accordion-item#includes .accordion-body, .venue-club-details .accordion .accordion-item#lesson-with-me .accordion-body {
  padding-bottom: 9px;
}
.venue-club-details .accordion-body {
  padding: 20px;
}
.venue-club-details .accordion .accordion-item#includes .accordion-body ul li, .venue-club-details .accordion .accordion-item#lesson-with-me .accordion-body ul li {
  padding: 10px;
  border-radius: 10px;
  background: #F9F9F6;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  list-style: none;
}
.venue-club-details .accordion .accordion-item#rules li i {
  color: #F50303;
  margin-right: 5px;
}
.venue-club-details .accordion .accordion-item#rules li{
  list-style: none;
}
.venue-club-details .accordion .accordion-item#rules li p {
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: start;
  align-items: baseline;
}
.venue-club-details .accordion .accordion-item#amenities ul li{
  color: #1BB333;
  margin-right: 5px;
  list-style: none;
}
.venue-club-details .accordion .accordion-item#amenities ul li span{
  color: #6B7385;
  margin-left: 5px;
}
.venue-club-details .accordion .accordion-item .accordion-header .accordion-button a.btn-gradient {
  padding: 10px 25px;
  border: none;
  white-space: nowrap;
  margin-right: 15px;
}
.venue-club-details .write-review {
  position: absolute;
  top: 10px;
  /* right: 30px; */
  z-index: 9;
  border: 0;
}
.venue-club-details .accordion .accordion-item#reviews .review-wrapper {
  margin-bottom: 20px;
}
.venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended p {
  font-size: 14px;
}
.venue-club-details .accordion .accordion-item#reviews .review-wrapper .recommended ul li i {
  width: 20px;
  height: 5px;
  background: #FFAA00;
  margin-right: 1px;
  display: inline-block;
}
.venue-club-details .accordion .accordion-item#reviews .review-box {
  box-shadow: 0px 4px 24px rgba(201, 201, 201, 0.25);
  margin-bottom: 20px;
  padding: 24px;
}
.venue-club-details .accordion .accordion-item#reviews .review-box .review-profile {
  margin-right: 10px;
}
.venue-club-details .accordion .accordion-item#reviews .review-box .review-info .tittle {
  color: #6B7385;
}
.venue-club-details aside .white-bg {
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.25);
}
.venue-club-details aside h4.border-bottom {
  margin: 0 0 24px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #EAEDF0;
}
.venue-club-details aside .book-court h5, .venue-club-details aside .book-court p {
  color: #6B7385;
}
.venue-club-details aside .book-court ul {
  padding: 20px;
  background: #F9F9F6;
}
.venue-club-details .accordion .accordion-item#reviews .review-box .review-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.gamesList span{
  line-height: 2rem;
}
.icon-bg{
  margin-right: 10px;
}
.club-timings a{
  text-decoration: underline !important;
  margin-right: 8px;
}
.white-bg form input.form-control, form textarea.form-control {
  padding: 20px;
  border-radius: 10px;
  background: #FAFAFA;
  border: none;
}
.venue-club-details aside .book-court ul {
  padding: 20px;
  background: #F9F9F6;
}
.book-court ul li {
  list-style-type: none;
}
.book-court .primary-text {
  color: #097E52;
}
.google-maps .googlemap-wrapper{
  border: 0;
}
.club-timings:hover a{
  color: #097E52 !important;
}
.venue-club-details aside h4.border-bottom {
  margin: 0 0 24px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #EAEDF0;
}
.venue-club-details aside .listing-owner li img {
  max-width: 119px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.venue-club-details aside .listing-owner li .owner-info {
  padding: 21px;
  border: 1px solid #EAEDF0;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.venue-club-details aside .listing-owner li .owner-info h5 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 8px;
}
.venue-club-details aside .listing-owner li .owner-info h5 a {
  color: #192335;
  font-size: 17px;
  text-decoration: none;
}
.venue-club-details aside .listing-owner li .owner-info p, .venue-club-details aside .listing-owner li .owner-info span {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.venue-club-details aside .listing-owner li .owner-info p, .venue-club-details aside .listing-owner li .owner-info span {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.venue-club-details aside .listing-owner li .owner-info p i {
  margin-right: 5px;
}
.venue-club-details aside .listing-owner li {
  margin-bottom: 15px;
}
.breadcrumb.breadcrumb-list {
  margin-top: 85px;
}
.booknow-wrapper{
  position: relative;
}
.booknow-wrapper i{
  padding-right: 12px;
}
.addedtype-container p, .venuetype-container p{
  margin: unset !important;
}