
  /*-----------------
    Header
-----------------------*/

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header.fixed {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 53px rgba(197, 197, 197, 0.27);
}

.header .logo a {
  float: left;
}

.header .logo a img {
  float: left;
  max-height: 32px;
}

.header .header-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  position: relative;
  height: 85px;
  padding: 0 15px 0 15px;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .header .header-nav {
    height: 65px;
    padding: 0;
  }
}

.header .header-nav .main-nav > li > a {
  line-height: 85px;
  display: inline-block;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .header .header-nav .main-nav > li > a {
    color: #FFFFFF;
  }
}

.header .header-nav .main-nav > li > a:before {
  content: "";
  top: 16px;
  /* background-image: url(../img/icons/menu-active.svg); */
  width: 17px;
  height: 17px;
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
}

@media (max-width: 991.98px) {
  .header .header-nav .main-nav > li > a:before {
    display: none;
  }
}

.header .header-nav .main-nav > li > a:hover {
  color: #AAF40C;
}

.header .header-nav .main-nav > li .submenu li {
  position: relative;
}

.header .header-nav .main-nav > li .submenu li.active {
  color: #AAF40C;
}

.header .header-nav .main-nav > li .submenu li.active > a {
  color: #AAF40C;
}

@media (max-width: 991.98px) {
  .header .header-nav .main-nav > li .submenu li.active > a {
    color: #FFFFFF;
  }
}

.header .header-nav .main-nav > li .submenu li a {
  display: block;
  padding: 10px 15px 10px;
  clear: both;
  white-space: nowrap;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  width: 100%;
  position: relative;
  font-weight: 500;
}

@media (max-width: 991.98px) {
  .header .header-nav .main-nav > li .submenu li a {
    padding: 12px 15px;
    color: #FFFFFF;
    font-size: 14px;
  }
}

.header .header-nav .main-nav > li .submenu li a:hover {
  color: #AAF40C;
  padding-left: 20px;
}

@media (max-width: 991.98px) {
  .header .header-nav .main-nav > li .submenu li a:hover {
    color: #FFFFFF;
  }
}

.header .header-nav .main-nav > li .login-link {
  display: none;
}

.header .navbar-header .navbar-brand {
  display: inline-block;
  padding: 0;
  line-height: 0;
}

@media (max-width: 1199.98px) {
  .header .navbar-header .navbar-brand {
    width: 150px;
  }
}

@media (max-width: 991.98px) {
  .header .navbar-header .navbar-brand {
    margin-right: 0;
    width: 190px;
  }
}

.header .navbar-header #mobile_btn {
  display: none;
  margin-right: 30px;
}

@media (max-width: 991.98px) {
  .header .navbar-header #mobile_btn {
    display: inline-block;
    line-height: 0;
  }
}

@media (max-width: 575.98px) {
  .header .navbar-header #mobile_btn {
    left: 0;
    margin-right: 0;
    padding: 0 0px;
    position: absolute;
    z-index: 99;
  }
}

.header .navbar-header #mobile_btn .bar-icon {
  display: inline-block;
  width: 31px;
}

.header .navbar-header #mobile_btn .bar-icon span {
  background-color: #AAF40C;
  display: block;
  float: left;
  height: 3px;
  margin-bottom: 7px;
  width: 31px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.header .navbar-header #mobile_btn .bar-icon span:nth-child(2) {
  width: 20px;
}

.header .navbar-header #mobile_btn .bar-icon span:nth-child(3) {
  width: 16px;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .header .navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 575.98px) {
  .header .navbar-header {
    width: 100%;
  }
}

.header .main-menu-wrapper {
  margin: 0 15px 0;
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper {
    width: 260px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 11111;
    background-color: #127f68;
    transform: translateX(-260px);
    -webkit-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    transition: ease all 0.5s;
    margin: 0;
  }
}

.header .main-menu-wrapper .menu-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  display: none;
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    align-items: center;
    background: #FFFFFF;
  }
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .menu-header .menu-logo img {
    width: 160px;
  }
}

.header .main-menu-wrapper .menu-header .menu-close {
  font-size: 18px;
  color: #097E52;
}

.header .main-menu-wrapper .main-nav > li .submenu > li .submenu {
  left: 100%;
  top: 0;
  margin-top: 10px;
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav > li .submenu > li .submenu {
    left: 0;
    margin-top: 0px;
  }
}

.header .main-menu-wrapper .main-nav > li .submenu > li.has-submenu > a::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 13px;
}

.header .main-menu-wrapper .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav {
    padding: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.header .main-menu-wrapper .main-nav:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  .header .main-menu-wrapper .main-nav > li {
    margin-right: 0;
  }
  .header .main-menu-wrapper .main-nav > li:last-child {
    margin-right: 0;
    border: 0;
  }
}

.header .main-menu-wrapper .main-nav > li.active > a {
  display: block;
  color: #AAF40C;
  text-decoration: none;
}

.header .main-menu-wrapper .main-nav > li.active > a:before {
  opacity: 1;
}

.header .main-menu-wrapper .main-nav > li a i {
  margin-left: 3px;
  font-size: 12px;
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav > li a {
    display: block;
    line-height: 20px;
    padding: 12px 15px;
    font-weight: 500;
    color: #FFFFFF;
  }
  .header .main-menu-wrapper .main-nav > li a i {
    font-size: 14px;
  }
}

@media (max-width: 991.98px) and (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav > li a i {
    float: right;
    margin-top: 5px;
  }
}

.header .main-menu-wrapper .main-nav > li:last-child {
  margin-right: 0;
}

@media (max-width: 1399.98px) {
  .header .main-menu-wrapper .main-nav > li {
    /* margin-right: 15px !important; */
  }
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav > li {
    padding: 0;
    margin-right: 0px !important;
  }
}

@media (min-width: 992px) {
  .header .main-menu-wrapper .main-nav > li {
    display: block;
    position: relative;
    margin-right: 30px;
  }
  .header .main-menu-wrapper .main-nav > li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .header .main-menu-wrapper .main-nav > li ul {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 16px;
    left: 0;
    margin: 0;
    min-width: 200px;
    opacity: 0;
    padding: 0;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    top: 100%;
    visibility: hidden;
    z-index: 1000;
  }
}

@media (min-width: 992px) {
  .header .main-menu-wrapper .main-nav li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border-radius: 2px;
    border-top: 0px;
  }
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav .has-submenu ul {
    display: none;
    background: #097E52;
  }
}

.header .main-menu-wrapper .main-nav li.login-link {
  display: none;
}

@media (max-width: 991.98px) {
  .header .main-menu-wrapper .main-nav li.login-link {
    display: block;
  }
}

.header .header-navbar-rht {
  margin: 0;
  padding: 0;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
}

.header .header-navbar-rht .logged-in .nav-link {
  padding: 0;
}

@media (max-width: 575.98px) {
  .header .header-navbar-rht {
    display: none;
  }
}

.header .header-navbar-rht > li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 10px;
  justify-content: center;
  -webkit-justify-content: center;
}

.header .header-navbar-rht > li:last-child {
  padding-right: 0;
}

.header .header-navbar-rht > li .dropdown-menu {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.header .header-navbar-rht > li .dropdown-menu .dropdown-item {
  border-top: 1px solid;
  padding: 10px 15px;
  font-size: 0.9375rem;
  font-weight: 600;
}

.header .header-navbar-rht > li .dropdown-menu .dropdown-item:hover {
  color: #097E52;
}

.header .header-navbar-rht > li .dropdown-menu .dropdown-item:last-child {
  border-top: 0;
  border-radius: 5px 5px 0 0;
}

.header .header-navbar-rht > li .dropdown-menu .dropdown-item:first-child {
  border-radius: 0 0 5px 5px;
}

.header .header-navbar-rht > li .btn-primary.log-register a {
  color: #FFFFFF;
}

@media (max-width: 1199.98px) {
  .header .header-navbar-rht > li .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 1399.98px) {
  .header .header-navbar-rht > li .nav-link.btn {
    padding: 10px 15px;
  }
}

@media (max-width: 1199.98px) {
  .header .header-navbar-rht > li .nav-link.btn {
    padding: 10px 10px;
  }
}

.header .header-navbar-rht > li .nav-link:focus {
  color: #FFFFFF;
}

.header .header-navbar-rht .nav-item span {
  margin: 0 6px 0 0;
}

.header .header-navbar-rht .nav-item .add-listing {
  font-weight: 500;
  font-size: 16px;
}

.header .header-navbar-rht .nav-item .header-login {
  box-shadow: inset 0 0 0 #FFFFFF;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .header .header-navbar-rht .nav-item .header-login {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.header .header-navbar-rht .nav-item .header-login:hover {
  background-color: #FFFFFF;
  border: 1px solid;
  box-shadow: inset 0 70px 0 0 #FFFFFF;
}

.header .header-navbar-rht .nav-item .header-reg {
  background-color: #097E52;
  border: 1px solid #097E52;
  box-shadow: inset 0 0 0 #FFFFFF;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
}

@media (max-width: 991.98px) {
  .header .header-navbar-rht .nav-item .header-reg {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.header .header-navbar-rht .nav-item .header-reg:hover {
  background-color: #FFFFFF;
  border: 1px solid #097E52;
  box-shadow: inset 0 70px 0 0 #FFFFFF;
  color: #097E52;
}

.header .header-navbar-rht.logged-in > li {
  padding-right: 20px;
  height: 85px;
}

@media (max-width: 1199.98px) {
  .header .header-navbar-rht.logged-in > li {
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .header .header-navbar-rht.logged-in > li {
    height: 65px;
  }
}

.header .header-navbar-rht.logged-in > li:last-child {
  padding-right: 0;
}

.header .header-navbar-rht.logged-in > li > a > i {
  color: #6B7385;
  font-size: 18px;
}

.header .header-navbar-rht.logged-in > li > a > i:hover {
  color: #097E52;
}

.header .header-navbar-rht.logged-in > li > a .alert-bg {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #23B33A;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.header .header-navbar-rht.logged-in > li form.header-search i {
  color: #6B7385;
  font-size: 18px;
}

.header .header-navbar-rht.logged-in > li form.header-search i:hover {
  color: #097E52;
}

.header .header-navbar-rht.logged-in > li.has-arrow .dropdown-toggle:after {
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #EAEDF0;
  border-right: 2px solid #EAEDF0;
  content: "";
  height: 8px;
  display: inline-block;
  pointer-events: none;
  width: 8px;
  vertical-align: 2px;
  margin-left: 10px;
  color: #EAEDF0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.header .header-navbar-rht.logged-in > li.has-arrow .dropdown-toggle[aria-expanded=true]:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}

.header .header-navbar-rht.logged-in > li.has-arrow .dropdown-toggle .user-img {
  display: inline-block;
  position: relative;
  margin-right: 0;
}

.header .header-navbar-rht.logged-in > li.has-arrow .dropdown-toggle .user-img > img {
  height: 40px;
  object-fit: cover;
  width: 40px;
}

@media (max-width: 1199.98px) {
  .header .header-navbar-rht.logged-in > li.has-arrow .dropdown-toggle .user-img > img {
    width: 35px;
    height: 35px;
  }
}

.header .header-navbar-rht.logged-in > li.has-arrow .user-header {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #EAEDF0;
}

.header .header-navbar-rht.logged-in > li.has-arrow .user-header .avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
}

.header .header-navbar-rht.logged-in > li.has-arrow .user-header .user-text {
  margin-left: 10px;
}

.header .header-navbar-rht.logged-in > li.has-arrow .user-header .user-text h6 {
  margin-bottom: 2px;
}

.header .header-navbar-rht.logged-in > li.has-arrow .user-header .user-text a.text-profile {
  font-size: 14px;
}

.header .header-navbar-rht.logged-in > li.has-arrow .user-header .user-text a.text-profile:hover {
  color: #097E52;
}

.header .header-navbar-rht.logged-in > li.has-arrow.logged-item {
  border-radius: 0;
}

.header .header-navbar-rht.logged-in > li.has-arrow.logged-item p {
  margin: 0;
}

.header .header-navbar-rht.logged-in > li.has-arrow.logged-item p a {
  padding: 10px 0 0 0;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  background: none;
}

.header .header-navbar-rht.logged-in > li.has-arrow.logged-item p a:hover {
  background: none;
  letter-spacing: 0.5px;
  padding-left: 5px;
}

.header .header-navbar-rht.logged-in > li.has-arrow.logged-item .nav-link {
  font-size: 14px;
  display: inline-block;
}

@media (max-width: 991.98px) {
  .header .header-navbar-rht.logged-in > li.has-arrow.logged-item .nav-link {
    line-height: 0px;
  }
}

.header .header-navbar-rht.logged-in > li .dropdown-menu {
  min-width: 200px;
  border-radius: 6px;
}

.header .header-navbar-rht.logged-in > li .dropdown-menu.show {
  margin-top: 0;
  padding: 15px;
}

.header .header-navbar-rht.logged-in > li .dropdown-menu:before {
  content: "";
  border: 7px solid #ffffff;
  border-color: transparent transparent #ffffff #ffffff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  position: absolute;
  top: -5px;
  right: 17px;
  -webkit-box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu {
  min-width: 370px;
  padding: 0;
  font-weight: normal;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .topnav-dropdown-header {
  border-bottom: 1px solid #EEF1FE;
  height: 44px;
  line-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .noti-content {
  height: 260px;
  width: 420px;
  overflow-y: auto;
  position: relative;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .notification-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu ul.notification-list > li {
  margin-top: 0;
  border-bottom: 1px solid #f5f5f5;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu ul.notification-list > li a {
  display: block;
  padding: 15px 24px;
  border-radius: 2px;
  width: 100%;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu ul.notification-list > li a:hover {
  letter-spacing: normal;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .media:last-child {
  border-bottom: none;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .media > .avatar {
  margin-right: 10px;
  width: auto;
  height: auto;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .media > .avatar > img {
  width: 46px;
  height: 46px;
  border-radius: 5px;
  margin-right: 8px;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .media-body {
  width: 100%;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .media-body h6 {
  margin-bottom: 0;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .media-body p {
  margin-bottom: 0;
  font-size: 14px;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .noti-title {
  color: #097E52;
}

.header .header-navbar-rht.logged-in > li.noti-nav .dropdown-menu .notification-time {
  font-size: 12px;
  float: right;
}

.header .dropdown-toggle::after {
  display: none;
}

.menu-opened .main-menu-wrapper {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
}

.menu-opened .main-menu-wrapper body {
  overflow: hidden;
}

.menu-opened .main-menu-wrapper body:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1040;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-opened body:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

header.header-sticky {
  position: sticky;
}

header.header-sticky .header-nav .main-nav > li > a {
  color: #6B7385;
}

@media (max-width: 991.98px) {
  header.header-sticky .header-nav .main-nav > li > a {
    color: #FFFFFF;
  }
}

header.header-sticky.fixed-top {
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-nav {
  background: linear-gradient(#008080, #367c36) !important;
}

.header-nav .header-right-banner {
  position: relative;
  top: -16px !important;
}

.header-wrapper {
  padding-left: unset !important;
  padding-right: unset !important;
}

.header-nav .log-register {
  position: relative;
}

.header-nav .log-clublist {
  position: relative;
}

.header-right-banner .log-register .icon-button {
  margin-right: 5px;
}