.dropdown-container {
    position: absolute;
    top: 16px;
    right: 10px;
    z-index: 1000;
  }
  .authendication-pages .dropdown-icon {
    color: #000;
  }
  .authendication-pages .globe-icon-wrapper {
    color: #000;
  }
  .authendication-pages .selected-language {
    color: #000;
  }
  .language-selector {
    display: flex;
    align-items: center;
    position: relative;
  
    .select {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      appearance: none;
      background-color: white;
      font-size: inherit;
      cursor: pointer;
      outline: none;
      transition: border-color 0.2s ease-in-out;
  
      .label {
        margin-right: 8px;
        min-width: max-content;
      }
  
      .i {
        margin-right: 5px;
      }
  
      .select::-ms-expand {
        display: none;
      }
    }
  }
  
  .header-right-banner .language-dropdown {
    padding-left: 0px;
    position: absolute;
    justify-items: center;
    top: 10px;
  }
  
  .language-dropdown label {
    color: white;
  }
  
  .globe-icon-wrapper {
    color: white;
  }
  
  .selected-language {
    margin-left: 8px;
    color: white;
  }
  
  #language-select {
    margin-left: 8px;
  }
  
  .dropdown-language {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    overflow: hidden;
  
    .dropdown-item {
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
    .dropdown-item:hover {
      background-color: #f0f0f0;
    }
  }
  
  .dropdown-icon {
    margin-left: 4px;
    color: white;
  }
  