
.login-form button {
  position: relative;
  width: 400px;
}

.login-form .right-arrow {
  margin-left: 5px;
}

.login-form .btn-secondary:hover {
  background: #097E52 !important;
  border-color: #097E52 !important;
}

.register-content .toppage-container {
  padding-left: unset;
}

.loginpage .login-image {
  width: 100%;
  min-height: 70%;
  object-fit: cover;
}