.generate-btn,
.login-btn {
  padding: 10px 100px;
  font-size: 18px;
  color: white;
  background: black;
  border: 2px;
  border-radius: 25px;
  cursor: pointer;
  align-self: center;
  
}

.generate-btn:hover {
  background: #097E52;
  border-color: #097E52 !important;
  color: #fff;
}

.react-tel-input .form-control {
  height: 45px !important;
  width: 400px !important;
  margin-bottom: 40px !important;
}

.phone-login .shadow-card .phone-textp {
  margin-top: 20px;
}

.phone-login .shadow-card {
  padding: 60px !important;
}

.phone-login .bottom-text p {
  font-size: 18px;
  margin-top: 15px;
}

.phonelogin-wrapper {
  background-image: url(../images/pattern.jpg);
}

.phonelogin-wrapper .nav-all {
  display: none;
}

.phonelogin-wrapper .content {
  margin-top: 0%;
}

.phonelogin-wrapper .content{
  background: linear-gradient(#1a9f73, #07605c) !important;
}

.phonelogin-wrapper .shadow-card {
  backdrop-filter: blur(2px);
}

.phone-login-right-banner .shadow-card .bottom-paras {
  margin-top: 50px;
}

.bottom-paras p{
  margin-bottom: 0.5rem !important;
  color: #000000 !important;
}

.bottom-paras span:hover{
  color: #5a5a5a !important;
  cursor: pointer;
}

@media (max-width: 770px) {
  .react-tel-input .form-control {
    width: 290px !important;
  }
  .generate-btn {
    padding: 10px 80px;
  }
}

@media (max-width: 770px) {
  .phonelogin-wrapper .phone-login {
    padding-left: unset;
    padding-right: unset;
  }
}

@media (max-width: 770px) {
  .css-1wnsr1i {
    width: 94% !important;
    border: unset !important;
    height: 80%;
  }
}

@media (max-width: 770px) {
  .title-auth h5 {
    font-weight: 700;
    font-size: 20px;
}
}

@media (max-width: 770px) {
  
.title-auth p {
  font-size: 15px;
}
}

input.otp-input-field {
  width: 1.5em !important;
}

.bottom-paras .links {
  text-decoration: underline;
  color: #0e5072;
  font-weight: 700;
  font-size: 16px;
}

.bottom-paras .links:hover {
  color: #097E52 !important;
}

.authendication-pages .register-content .wrapper .banner-bg.phone-login {
  background-image: url(../images/strongr-phone-login.jpg);
}

.phone-login-right-banner .shadow-card h2 {
  color: #192335;
  font-weight: 700;
  font-size: 32px;
}

.phone-login-right-banner .phone-textp {
  color: #6B7385;
  margin-bottom: 1rem;
  font-size: 20px !important;
}

.phone-login-right-banner .shadow-card {
  display: grid;
  justify-content: center;
}

.phone-login-right-banner .bottom-paras p {
  font-size: 16px !important;
  font-weight: 600 !important;
}