.generate-btn,
.login-btn {
  padding: 10px 18px;
  font-size: 15px;
  color: white;
  background: black;
  border: 2px;
  border-radius: 25px;
  cursor: pointer;
  align-self: center;
}

.react-tel-input .form-control {
  height: 45px !important;
  width: 300px !important;
  margin-bottom: 40px !important;
}

.phone-login .shadow-card .phone-textp {
  color: #fff !important;
  margin-top: 20px;
}

.phone-login .shadow-card {
  padding: 60px !important;
}

.phone-login .bottom-text p {
  color: white !important;
  font-size: 18px;
  margin-top: 15px;
}

.phonelogin-wrapper {
  background-image: url(../images/pattern.jpg);
}

.phonelogin-wrapper .nav-all {
  display: none;
}

.phonelogin-wrapper .content {
  margin-top: 0%;
}

.phonelogin-wrapper .shadow-card {
  background: linear-gradient(#1a9f73, #07605c);
}

.shadow-card .bottom-paras {
  margin-top: 30px;
}

.shadow-card .bottom-paras p {
  margin-bottom: 0.5rem !important;
  color: #fff !important;
}

.shadow-card .bottom-paras span:hover{
  color: #DADD98 !important;
}

@media (max-width: 770px) {
  .react-tel-input .form-control {
    width: 230px !important;
  }
}

@media (max-width: 770px) {
  .phonelogin-wrapper .phone-login {
    padding-left: unset;
    padding-right: unset;
  }
}

@media (max-width: 770px) {
  .css-1wnsr1i {
    width: 94% !important;
    border: unset !important;
    height: 80%;
  }
}

@media (max-width: 770px) {
  .title-auth h5 {
    font-weight: 700;
    font-size: 20px;
}
}

@media (max-width: 770px) {
  
.title-auth p {
  font-size: 15px;
}
}

.phone-login h2 {
  color: #fff;
}