.booked-status {
    color: #06aa00;
}

.pending-status{
    color: #FF9300;
}

.cancelled-status {
    color: #E50000;
}

.completed-status{
    color: #024400;
}

.user-profile-screen .header {
    position: sticky !important;
}

.badge {
    padding: 5px !important;
    border-radius: 2px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    display: inline-flex !important;
    height: 2rem !important;
}

.badge.bg-success {
    background-color: rgba(27, 179, 51, 0.2) !important;
    color: #097E52;
}

.badge.bg-info {
    background-color: rgba(220, 205, 41, 0.35) !important;
    color: #FFAA33;
}

.badge.bg-danger {
    background-color: rgb(255, 0, 0, 0.3) !important;
    color: #d23a12;
}

.badge.bg-completed {
    background-color: rgba(27, 179, 51, 0.2) !important;
    color: #097E52;
}

.text-pink a {
    color: #1859e5 !important;
}

.text-pink .eye-icon {
    margin-right: 5px;
}

.table-heading h4 {
    color: #192335;
    font-weight: 600;
    background: #F9F9F6;
    border-color: #F9F9F6;
}

.booked-table-content h2 {
    margin-bottom: 2rem;
    color: #192335;
    font-size: 24px;
    font-weight: 700;
}

.pagination-para-text p {
    margin-bottom: 0rem !important;
}

.profile-detail-group .card {
    padding: 24px;
    box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.25);
    border: 0;
    border-radius: 10px;
    margin-bottom: 40px;
}

.profile-detail-group button {
    position: relative;
}

.profile-detail-group h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #192335;
    font-size: 24px;
    font-weight: 700;
}

.info-about {
    margin-bottom: 24px;
    border-bottom: 1px solid #EAEDF0;
}

.profile-detail-group label {
    margin: 1rem;
}

.user-profile-screen .profile-detail-group .form-control {
    color: #6B7385 !important;
}

.user-profile-screen .profile-detail-group .btn-primary {
    color: #FFFFFF;
    background: #192335;
    border-color: #192335;
}

.user-profile-screen .profile-detail-group .btn-primary:hover {
    color: #FFFFFF;
    background: #097E52;
    border-color: #097E52;
}