
.input-space.other-setting-form {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.input-space.other-setting-form .form-control {
  max-width: 612px;
}

.deactivate-account-blk .deactive-btn {
  position: relative;
  background: #192335;
  border-radius: 10px !important;
  padding: 12px 15px !important;
  color: #FFFFFF;
  min-width: 196px;
  margin-top: 30px;
}

.deactivate-account-blk .deactive-btn:hover {
  background: #097E52 !important;
  border-color: #097E52 !important;
  color: #FFFFFF !important;
}

@media (max-width: 767.98px) {
  .update-userprofile button {
    width: 100% !important;
  }
}