form {
    width: auto;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form select {
    width: calc(100% - 12px);
    /* Adjust for padding and border */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 500px;
}

.card {
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* .datatable-top {
    visibility: hidden;
} */
.profile-card {
    padding: 50px;
}

.buttons {
    width: 300px;
    margin-left: 20%;
}

.thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding-right: 48px;
}