body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header, footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

footer {
    margin-top: auto;
    width: 100%;
}

.sb-sidenav {
    background-color: #222;
}

.sb-sidenav a.nav-link {
    color: #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.sb-sidenav a.nav-link.active, .sb-sidenav a.nav-link:hover {
    background-color: #444;
    color: #fff;
}

.sb-sidenav-footer {
    background-color: #333;
    color: #fff;
}

.sb-topnav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sb-topnav a.navbar-brand {
    font-size: 1.5em;
    font-weight: 700;
}

.sb-topnav .nav-item .nav-link {
    color: #fff;
    transition: color 0.3s;
}

.sb-topnav .nav-item .nav-link:hover {
    color: #ccc;
}

main {
    flex: 1;
    padding: 20px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    animation: fadeInDown 1.5s ease-out;
}

.alert {
    transition: opacity 0.5s ease-in-out;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

a.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}

a.button:hover {
    background-color: #555;
    transform: scale(1.05);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-120px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(120px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#successAlert {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #323231;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1050;
  
    p {
      text-align: center;
      margin: 0;
    }
  }
  