.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 2%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
    font-weight: bold;
    width: 30%;
    text-align: left;
}

.input-group input[type="password"],
.input-group input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px);
    margin-right: 5px;
}

.toggle-password {
    cursor: pointer;
    margin-left: 5px;
    color: #007bff;
    padding: 7px 10px;
    position: absolute;
    right: 0;
}

.toggle-password i {
    font-size: 18px;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    .input-group label {
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
    }

    .input-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group input[type="password"],
    .input-group input[type="text"] {
        width: 100%;
    }

    .toggle-password {
        position: relative;
        margin-top: 10px;
    }
}
