.container-fluid {
    padding: 0 15px;
}

.profile-card {
    padding: 50px;
    /* background-color: #f8f9fa; */
    border-radius: 8px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    max-width: 600px;
    margin: 50px auto;
}

form {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

h1.my-4, h5 {
    text-align: center;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 90px;
}

.buttons .btn {
    flex: 1;
    margin: 0 10px;
}

#id_description,
#id_pricing,
#id_game,
#id_number_of_courts {
    width: 100%;
    resize: none;
}
