form {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2%;
    padding: 50px;
    width:900px;
    display: flex;
    flex-direction: column;
}

table {
    position: relative;
    padding: 25px;
    padding-bottom: 0px;
}

td {
    width: 800px;
    height: 2em;
    padding: 10px;
}

input,
textarea {
    border-radius: 0.2rem;
    border: 1px solid darkgrey;
    width: 250px;
}

#id_description {
    resize: none;
    height: 80px;
    width: 250px;
}

.u-button {
    align-self: center;
    display: flex;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

input:disabled,
textarea:disabled {
    color: black;
    background-color: rgb(167, 167, 167);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 39%;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 0.3rem;
    background-color: #fefefe;
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content button {
    width: 40%;
    padding: 5px 10px;
    margin-right: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #007BFF;
    text-align: center;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.modal-content button:hover {
    background: #0056b3;
}

.toast {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #323231;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1050;
    display: none;
}

#error_phone_number,
#error_alt_phone_number {
    display: none;
}
input[type=number]::-webkit-outer-spin-button,
             input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
             margin: 0;
            }

        input[type=number] {
            -moz-appearance: textfield;
            }
        
label {
    width:350px;
}
    