a:hover {
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
}

.text-center button {
    width: 100%;
}

.error {
    color: #DB1417;
}

.title {
    margin-left: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
}