.preview {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

td {
  align-items: center;
}




.info-icon {
  cursor: pointer;
  position: relative;
}

.note {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.note::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
}

.fa-circle-info {
  color: #2a3fb9;
}

.alert.alert-success {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: #323231;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1050;

  p {
    text-align: center;
    margin: 0;
  }
}