form {
    box-shadow: 0px !important;
    border: 1px solid #ddd !important;
}

.main-template {
    margin-top: -1rem;
}

.preview {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

td {
    align-items: center;
}

#successAlert {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #323231;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1050;

    p {
        text-align: center;
        margin: 0;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab-button {
    border: 1px solid #ddd;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    column-gap: 1rem;
    padding: 10px 0px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button:focus {
    outline: none;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: auto;
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.select-location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-select {
    min-width: 200px;
}

.tab-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.tab-button.active,
.tab-button:focus {
    background-color: #ddd;
    border-bottom: 2px solid #000;
    font-weight: bold;
    outline: none;
}

#tab-content {
    border: 1px solid #ddd;
    border-top: none;
}