#successAlert {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #323231;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1050;

    p {
    text-align: center;
    margin: 0;
    }
}

.booking-list-title {
    margin-left: 40%;
}

.pending-org-title {
    margin-left: 30%;
}

.back-btn {
    border-radius: 50%;
    height: max-content;
    width: max-content;
    margin-left: 50%;
}

.location-title {
    margin-left: 35%;
}

.centered-title {
    margin-left: 35%;
}

.note-text {
    margin-left: 30%;
}

.buttons {
    margin-left: 40%;
}

.dashboard-title {
    margin-left: 40%;
}